<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Question</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body class="bg-dark">
	<nav class="navbar navbar-dark navbar-expand-md bg-dark shadow">
	  <div class="container">
	    <a class="navbar-brand" href="#">Student Community</a>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-5 mb-2 mb-lg-0 d-md-none ">
				<li class="nav-item">
				  <a class="nav-link active" aria-current="page" href="/home">home</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="/profile">Profile</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="/announcements">Announcements</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link">FAQ</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link">Help</a>
				</li>
			  </ul>
	      <form class="d-flex mx-auto col-lg-4 mb-2" role="search">
	        <input class="form-control ms-lg-5" type="search" placeholder="Search" aria-label="Search">
	      </form>
	      <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
	      	<li>
	      		<button class="btn btn-outline-danger" type="submit"><a class="dropdown-item" href="/">LogOut</a></button>
	      	</li>
	      </ul>
	    </div>
	  </div>
	</nav>

	<div class="container-md">
		<div class="row ">
			<div class="d-flex flex-column col-md-3 col-lg-2 bg-dark d-none d-md-block border-end border-primary">
				<div class="sticky-top">
				    <hr class="text-light">
				    <ul class="nav nav-pills flex-column">
						<li class="nav-item">
						  <a href="/home" class="nav-link active" aria-current="page">
							Home
						  </a>
						</li>
						<li>
						  <a href="/profile" class="nav-link text-white">
							
							Profile
						  </a>
						</li>
						<li>
						  <a href="/announcements" class="nav-link text-white">
						   
							Announcements
						  </a>
						</li>
						<li>
						  <a href="#" class="nav-link text-white">
							
							FAQ
						  </a>
						</li>
						<li>
						  <a href="#" class="nav-link text-white">
							
							Help
						  </a>
						</li>
					  </ul>
				    <div class="dropdown p-3">
				      <hr class="text-light">
				      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
				        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
				        <strong>{{user_name}}</strong>
						<h1 hidden id="post_id">{{id}}</h1>
				      </a>
				      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
				        <li><a class="dropdown-item" href="/editprofile">Settings</a></li>
				        <li><hr class="dropdown-divider"></li>
				        <li><a class="dropdown-item" href="/">Sign out</a></li>
				      </ul>
				    </div>
				</div>   
			    
			</div>
			<div class="column col-md-9 col-lg-10 p-3 bg-dark text-light">
				<div class="">
					<h2>{{title}}</h2>
					<div class="p-1">
						<ul class=" list-unstyled text-muted d-flex">
							<li class=""><span>Created by <a href="">{{name}}</a> |</span></li>
							<li> <span>| Posted On:{{date}}</span></li>
						</ul>
					</div>
					
				</div>
				<hr>
				<div class="row">
					<div class="col-2 col-lg-1 d-inline-flex flex-column justify-content-center p-2 border-end border-light">
						<form>
							<div id="like_button" class="text-center">
							<input onclick="post_like()" type="checkbox" class="btn-check like" name="options-outlined" id="success-outlined" autocomplete="off">
							<label class="btn btn-outline-success" for="success-outlined"> 
								<svg xmlns="http://www.w3.org/2000/svg" width="25" height="75" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
								  <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
								</svg>
							</label>
							</div>
							<div id="post_likes" class="p-2 text-center count">
								{{like}}
							</div>
							<div id="dislike_button" class=" text-center">
								<input onclick="post_dislike()" type="checkbox" class="btn-check like" name="options-outlined" id="danger-outlined" autocomplete="off">
								<label class="btn btn-outline-danger" for="danger-outlined">
									<svg xmlns="http://www.w3.org/2000/svg" width="25" height="75" fill="currentColor" class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
										<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
									</svg>
								</label>
							</div>
						</form>
						
					</div>

					<div class="col p-4 ">
						<p>{{ description|linebreaks }}</p>
					</div>	
				</div>
				<hr>
				<div class="row">
						<span>{{count}} Answers</span>
						<form  method="POST" action="/answer/{{id}}">{% csrf_token %}
							<div class="m-4 row">
								<div class=" mb-3">
								  <label for="exampleFormControlTextarea1" class="form-label fs-4">Add Your Answer</label>
								  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="content"></textarea>
								</div>
								<div class="col text-end">
									<button type="submit" class="btn btn-primary  col-2">Post</button>
								</div>
							</div>
						</form>
				</div>
				<!-- Comment Begins -->
				{% for ans_id,ans_content,ans_like,ans_dislike,ans_date,user_name in answer  %}
				<div class="row ">
					<hr>
					<div class="col-2 col-lg-1 d-inline-flex flex-column justify-content-center p-2 m-2 border-end border-light">
						<form>
							<div class="text-center">
								<input onclick="ans_like()" type="checkbox" class="btn-check like" name="options-outlined" id="success-outline" autocomplete="off" >
								<label class="btn btn-outline-success" for="success-outline"> 
									<svg xmlns="http://www.w3.org/2000/svg" width="15" height="45" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
									  <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
									</svg>
								</label>
							</div>
							<h1 hidden id="ans_id">{{ans_id}}</h1>
							<div id="ans_likes" class="p-2 text-center">
								{{ans_like}}
							</div>
							<div  class=" text-center">
								<input onclick="ans_dislike()" type="checkbox" class="btn-check like" name="options-outlined" id="danger-outline" autocomplete="off">
								<label class="btn btn-outline-danger" for="danger-outline">
									<svg xmlns="http://www.w3.org/2000/svg" width="15" height="45" fill="currentColor" class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
										<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
									</svg>
								</label>
							</div>
						</form>
					</div>
					<div class="col p-4">
						<div class="d-flex mb-3 fs-5">
							<img src="https://github.com/mdo.png" alt="" width="50" height="50" class="rounded-circle me-2">
							<a href="" class="m-2">{{user_name}}</a>
						</div>
						<div>
							<p>{{ ans_content|linebreaks }}</p>
						</div>
						

						<div class="d-flex">
							<div class="text-muted">
								Posted On :  {{ans_date}}
							</div>
							<div class="ms-auto mb-3">
								<a href=#replies{{ans_id}}  class="btn btn-primary btn-sm d-inline-flex'" data-bs-toggle="collapse" role="button">View Replies</a>
								<a href="#reply"  data-bs-toggle="collapse" class="btn btn-primary btn-sm d-inline-flex ">Reply</a>
							</div>
						</div>
						
						<div class="row">
						    <div class="collapse multi-collapse" id="reply">
						      <div class="card card-body bg-dark text-light border-light">
						      	<div class="col">
									<form  method="POST" action="/replyPost/{{ans_id}}">{% csrf_token %}
						      			<textarea class="form-control" id="replyComment" rows="3" name="replyContent"></textarea>
										<input type="hidden" value={{id}} name="postID">
						      			<div class=" mt-3 text-end">
											<button type="submit" class="btn btn-primary  col-2">Post</button>
										</div>
						      		</form>
								</div>			      							        
						      </div>						    
						    </div>
						</div>

						{% for reply_id,reply_ans_id,reply_name,reply_content,reply_like,reply_dislike,post_dt in reply %}
						{% if reply_ans_id == ans_id %}
						<div class="row">
						    <div class="collapse multi-collapse" id=replies{{ans_id}}>
						      <div class="card card-body bg-dark text-light border-light">
						      	<div>
						      		<a href="">{{reply_name}}</a>
						      		<div class="">
						      			<p class="mb-2">{{reply_content}}</p>
						      		</div>
									  <div class="text-muted">
										Posted On :  {{post_dt}}
									</div>
						      	</div>					      							        
						      </div>						    
						    </div>
						</div>
						
						{% endif %}
						{% endfor %}
				
				</div>
				</div>
				{% endfor %}
			<hr>
			<!-- Comment ends -->
		</div>
	</div>

	<script>
		let post_like_display =document.getElementById('post_likes');
		let post_likes = Number(post_like_display.textContent)
		let post_active=0;

		let post_id = Number(document.getElementById('post_id').textContent)

		function post_like()
		{
			if (post_active===0)
				post_active=1;
			else if(post_active===1)
				post_active=0;

			if (post_active===1)
				post_likes+=1;
			else if(post_active===0)
				post_likes+=1;

			post_like_display.textContent=post_likes;

			const Http = new XMLHttpRequest();
			const url='http://127.0.0.1:8000/like/Post/'+post_id+'/'+post_likes;
			Http.open("GET", url);
			Http.send();

			Http.onreadystatechange = (e) => {
				console.log("Like")
			}
		}

		function post_dislike()
		{	
			if (post_active===0)
				post_active=1;
			else if(post_active===1)
				post_active=0;

			if (post_active===1)
				post_likes-=1;
			else if(post_active===0)
				post_likes+=1;

			post_like_display.textContent=post_likes;
			
			const Http = new XMLHttpRequest();
			const url='http://127.0.0.1:8000/like/Post/'+post_id+'/'+post_likes;
			Http.open("GET", url);
			Http.send();

			Http.onreadystatechange = (e) => {
			console.log("Dislike")
			}
		}
		


		let ans_like_display =document.getElementById('ans_likes');
		let ans_likes = Number(ans_like_display.textContent)
		let ans_active=0;

		let ans_id = Number(document.getElementById('ans_id').textContent)

		function ans_like()
		{
			
			if (ans_active===0)
				ans_active=1;
			else if(ans_active===1)
				ans_active=0;

			if (ans_active===1)
				ans_likes+=1;
			else if(ans_active===0)
				ans_likes-=1;

			ans_like_display.textContent=ans_likes;

			const Http = new XMLHttpRequest();
			const url='http://127.0.0.1:8000/like/Ans/'+ans_id+'/'+ans_likes;
			Http.open("GET", url);
			Http.send();

			Http.onreadystatechange = (e) => {
				console.log(e)
			}
		}

		function ans_dislike()
		{	
			if (ans_active===0)
				ans_active=1;
			else if(ans_active===1)
				ans_active=0;

			if (ans_active===1)
				ans_likes-=1;
			else if(ans_active===0)
				ans_likes+=1;

			ans_like_display.textContent=ans_likes;
			
			const Http = new XMLHttpRequest();
			const url='http://127.0.0.1:8000/like/Ans/'+ans_id+'/'+ans_likes;
			Http.open("GET", url);
			Http.send();

			Http.onreadystatechange = (e) => {
			console.log(e)
			}
		}
	</script>


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
	<script type="text/javascript" src="like.js"></script>
</body>
</html>